{% extends 'base.html' %}

{% block title %}Product List {% endblock %}

{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="grp-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'addProduct' %}">Add</a>
    <br>
    {% for product in products %}
        {{ product.name }} | {{ product.price }} | {{ product.discount }} | {{ product.quantity }} <br>
        {#        <a href="{% url 'editProduct' id=product.id %}"> Edit</a> |#}
        {#        <a href="{% url 'deleteProduct' id=product.id %}"> Delete</a> <br>#}
    {% endfor %}
{% endblock %}
